<footer class="site-footer">
    <div class="container">
      <div class="footer-top">
        <!-- About the Ministry Column -->
        <div class="footer-column">
          <h4>عن الوزارة</h4>
          <ul>
            <li *ngFor="let link of aboutLinks"><a [href]="link.url">{{ link.text }}</a></li>
          </ul>
        </div>
  
        <!-- Initiatives and Programs Column -->
        <div class="footer-column">
          <h4>المبادرات والبرامج</h4>
          <ul>
            <li *ngFor="let link of initiativesLinks"><a [href]="link.url">{{ link.text }}</a></li>
          </ul>
        </div>
  
        <!-- Media Center Column -->
        <div class="footer-column">
          <h4>المركز الإعلامي</h4>
          <ul>
            <li *ngFor="let link of mediaCenterLinks"><a [href]="link.url">{{ link.text }}</a></li>
          </ul>
        </div>
  
        <!-- Follow Us & Tools Column -->
        <div class="footer-column">
          <h4>تابعنا على</h4>
          <div class="social-icons">
            <a href="#" aria-label="Twitter"><fa-icon [icon]="faTwitter"></fa-icon></a>
            <a href="#" aria-label="LinkedIn"><fa-icon [icon]="faLinkedinIn"></fa-icon></a>
            <a href="#" aria-label="YouTube"><fa-icon [icon]="faYoutube"></fa-icon></a>
          </div>
          <h4 class="tools-title">أدوات الاتاحة والوصول</h4>
          <div class="accessibility-tools">
            <button aria-label="Increase font size"><fa-icon [icon]="faSearchPlus"></fa-icon></button>
            <button aria-label="Decrease font size"><fa-icon [icon]="faSearchMinus"></fa-icon></button>
            <button aria-label="Accessibility options"><fa-icon [icon]="faUniversalAccess"></fa-icon></button>
          </div>
        </div>
      </div>
  
      <div class="footer-middle">
        <h4>منظومة الاتصالات</h4>
        <div class="partner-logos">
          <a *ngFor="let partner of partners" href="#" class="partner-logo">
            <img [src]="partner.logo" [alt]="partner.name + ' logo'">
          </a>
        </div>
      </div>
  
      <div class="footer-bottom">
        <div class="ministry-logo">
          <img src="assets/images/logo-footer.svg" alt="Ministry of Communications and Information Technology Logo">
        </div>
        <div class="copyright-section">
          <p>جميع الحقوق محفوظة لوزارة الاتصالات وتقنية المعلومات 2024 ©</p>
          <p>تم تطويره وصيانته بواسطة وزارة الاتصالات وتقنية المعلومات</p>
        </div>
        <div class="bottom-nav">
          <ul>
            <li *ngFor="let link of bottomLinks"><a [href]="link.url">{{ link.text }}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer> 