<section class="latest-news-section" (mouseenter)="stopAutoSlide()" (mouseleave)="startAutoSlide()">
    <div class="container">
      <div class="section-header">
        <h2>الأخبار</h2>
        <a href="#" class="show-all-btn">عرض الكل</a>
      </div>
  
      <div class="news-slider-wrapper">
        <div class="news-slider">
            <div class="news-card" *ngFor="let article of paginatedArticles">
                <a [href]="article.link" class="card-link">
                    <img [src]="article.imageUrl" [alt]="article.title" class="card-image">
                    <div class="card-content">
                        <h3 class="card-title">{{ article.title }}</h3>
                        <div class="card-footer">
                            <span class="card-date">
                                <fa-icon [icon]="faCalendarDays"></fa-icon>
                                {{ article.date }}
                            </span>
                            <span class="read-more">قراءة المزيد</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
      </div>
  
      <div class="slider-controls">
        <button class="arrow" (click)="prevPage()" aria-label="Previous News">
          <fa-icon [icon]="faChevronLeft"></fa-icon>
        </button>
        <button class="arrow" (click)="nextPage()" aria-label="Next News">
          <fa-icon [icon]="faChevronRight"></fa-icon>
        </button>
      </div>
    </div>
  </section> 